.postfooter {
  display: flex;
  width: max-content;
  border: 1px solid #1B1F2326;
  border-radius: 4px;
  margin-top: 32px;
  height: 28px;
}
.icon_1 {
  display: flex;
  margin-inline: 5px;
  width: 42px;
}
.rating, .followers {
margin: 0;
}