.button {
  display: flex;
  align-items: center;
  padding: 0;
}

.icon {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  transform: rotate(1turn);
}

.active {
  .icon {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    transform: rotate(0.5turn);
  }
}

.text {
  margin-left: 5px;
}
