* {
  box-sizing: border-box;
}

.post__container {
  padding: 20px;
}
h1 {
  margin: 0;
}
.post__description, .post__tile {
  text-align: left;
}
.post__footer {
  display: flex;
  width: max-content;
  border: 1px solid #1B1F2326;
  border-radius: 4px;
  margin-top: 32px;
  height: 28px;
}
.rating, .followers {
  padding-inline: 12px;
  border-inline: 1px solid #1B1F2326;
}
.icon {
  display: flex;
  margin-inline: 5px;
}
.post {
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}