.stories {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-right: auto;
}

.photo {
  height: 37;
  width: 37;
  border-radius: 50%;
  padding-inline: 20px;
}
.issue {
  width: 979px;
  min-height: 173px;
}
