.stories {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-right: auto;
}

.photo {
  height: 32px;
  border-radius: 50%;
  padding-inline: 20px;
}
.issue {
  width: 979px;
  min-height: 173px;
}
.icon {
  color: black;
  width: 32px;
  height: 32px;
}
